@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body .template {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #f5f5f5;
  font-size: 20px;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-image: linear-gradient(to right bottom, rgba(71, 74, 138, 0.7), rgba(120, 124, 181, 0.7)), url("https://www.hostinger.com/blog/wp-content/uploads/sites/4/2019/12/php-7.4-hostinger-scaled.png");
  background-size: cover;
  background-position: top; }

body h1, body p {
  padding: 10px 0; }

body p {
  font-size: 16px; }
